.App {
  margin: 0 auto;
  text-align: center;
  max-width: 960px;
}

.login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 800px;
}

.news {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid darkslategray;
  text-align: left;
  margin-bottom: 10px;
}

.title {
  padding-bottom: 10px;
  text-transform: uppercase;
  color: rgb(35, 48, 48);
  text-align: left;
  font-size: 30px;
}

.list-news {
  padding: 0;
}

.pag-location {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-bottom: 1px solid rgb(46, 59, 26);
  text-transform: uppercase;
  font-size: 17px;

}

.pagination {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 960px;
  list-style: none;
}

.avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.image {
  width: 100px;
  height: 100px;
}

.list {
  list-style: none;
  margin: 0 auto;
  max-width: 960px;
}

.center {
  margin: 0 auto;
  max-width: 960px;
}

.top {
  margin-top: 30px;
}

.button-group {
  display: flex;
  margin-bottom: 30px;
  width: 600px;
  justify-content: space-between;
}

.position {
  margin-bottom: 20px;
}

.form {
  margin-top: 50px;
}

.box-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
}

.position-top {
  margin-top: 50px;
}

.list-item {
  border: 1px solid rgb(165, 159, 159);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 5px;
}

.margin-button {
  margin-right: 10px;
}
